.main {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: getZindex(navigation);
}

.top {
    padding-top: var(--s-15);
    padding-bottom: var(--s-15);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(sm) {
        display: block;
    }
}

.navigation {
    &List {
        display: inline-flex;
        align-items: center;
        gap: var(--s-15);
    }

    &Item {
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--tertiary-color);
            transition: transform 0.3s;
            transform: translateX(-101%);
        }

        &.isActive {
            pointer-events: none;
            opacity: 0.5;
        }
        @include hover {
            &:after {
                transform: translateX(0);
            }
        }
    }
}

.searchInput {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    border-bottom: 1px solid var(--mango);
    padding: var(--s-5) 0;
    color: var(--tertiary-color);

    @include mq(sm) {
        width: 100%;
    }

    &:focus {
        & + .searchResults.isVisible {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.searchInputWrapper {
    position: relative;
    display: inline-block;

    @include mq(sm) {
        min-width: 200px;
    }
}

.searchResults {
    background-color: var(--secondary-color);
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    @include fluidValue('width', null, 250px);

    @include mq(sm) {
        width: 100%;
    }

    &:has(a:focus) {
        opacity: 1;
        pointer-events: auto;
    }
}

.movieList {
    width: 100%;
    padding: var(--s-15);
}

.movieItem {
    width: percentage(1, 5);
    padding: var(--s-10);
}
