.card {
    position: relative;
}

.title {
    margin-bottom: var(--s-5);
}

.favoriteButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.score {
    display: inline-flex;
    align-items: center;
    color: var(--grey);

    span {
        color: var(--mango);
        font-size: 1.2em;
        padding-right: var(--s-5);
    }
}

.scoreContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--s-10) var(--s-10) var(--s-20);
    z-index: 1;
    text-align: right;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 1) 100%
    );
}

.content {
    position: relative;
    padding-right: var(--s-40);
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;

    @include hover {
        & + .imageContainer .image {
            transform: scale(1.06);
        }
    }
}

.image {
    transition: transform 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    margin-bottom: var(--s-15);
    width: 100%;
    height: 0;
    padding-top: percentage(3, 2);
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mango);
    opacity: 0;
    transition: opacity 0.3s 0.2s;

    &.isVisible {
        opacity: 1;
    }
}
