.main {
    padding-bottom: var(--s-30);
}

.inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-5);
}

.label {
    display: block;
    cursor: pointer;
    border-radius: 100px;
    padding: var(--s-5) var(--s-10);
    border: 1px solid var(--mango);
    transition:
        color 0.3s,
        background-color 0.3s;
}

.item {
    display: inline-block;

    input {
        -webkit-appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        left: 0;
        top: 0;
        visibility: hidden;

        &:checked ~ .label {
            background-color: var(--mango);
            color: var(--primary-color);
        }
    }
}
