:export {
    breakpoint-sm: $breakpoint-sm;
    breakpoint-md: $breakpoint-md;
    breakpoint-lg: $breakpoint-lg;
    breakpoint-xl: $breakpoint-xl;
    breakpoint-xxl: $breakpoint-xxl;
    breakpoint-xxxl: $breakpoint-xxxl;
}
